.home {
  padding-top: 6rem;
  height: 200rem;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 70rem;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  &__mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($color-dark, 0.5);
    z-index: 1;
  }

  &__h1,
  &__p {
    max-width: 100rem;
    width: 100%;
    z-index: 2;
  }

  &__p {
    padding-top: 4rem;
  }

  &__boxes {
    display: flex;
    position: relative;
    justify-content: center;
    max-width: 130rem;
    width: 100%;
    // height: 30rem;
    margin: 0 auto;
    margin-top: -10rem;
    z-index: 3;
    padding: 0 5rem;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27.9rem;

    &__p {
      text-align: center;
      padding: 1.3rem 0;
      width: 15rem;
    }

    &__span {
      display: block;
      text-align: center;
      padding: 0 2rem;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.6rem;
    height: 19.6rem;

    &--box1 {
      @include gradient(#a23272, #b83983);
    }

    &--box2 {
      @include gradient(#fb385a, #fd4c45);
    }

    &--box3 {
      @include gradient(#ff8c2c, #ffb138);
    }

    &--box4 {
      @include gradient(#5db633, #56ab2f);
    }

    &--box5 {
      @include gradient(#0085da, #019cef);
    }
  }
}
