.homeTeachers {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;

  @include h3-with-line;
}

.home__course__card {
  // display: flex;
  // position: relative;
  // width: 35rem;

  // @include fliping-card;
  @include card2;
}
