.homeBlog {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 120rem;
  width: 100%;
  padding: 10rem 2rem 0 2rem;
  margin: 0 auto;

  @include h3-with-line;

  &__newsletter {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    // background: red;
    padding-top: 5rem;

    @include newsletter;
  }

  &__blogBox {
    width: 27rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);

    @include respond(600) {
      width: 100%;
      margin-bottom: 4rem;
      padding-bottom: 1rem;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__link {
    display: inline-block;
    padding: 1.5rem 0;
    text-align: center;
    transition: all 0.5s;

    &:hover {
      color: $color-pink-dark;
    }

    @include respond(600) {
      padding: 5rem 0;
    }
  }

  &__p {
    text-align: justify;
    padding: 0rem 1.5rem;
    padding-bottom: 2rem;
  }

  &__line2 {
    width: 3rem;
    height: 4px;
    margin-left: 1rem;
    background: $color-pink-dark;

    @include respond(600) {
      margin-top: 3rem;
    }
  }

  &__span {
    display: inline-block;
    padding: 1rem 1rem;
  }

  &__p2 {
    padding: 1rem 1rem;
  }
}
