.homeBlog {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 120rem;
  width: 100%;
  padding: 10rem 2rem 0 2rem;
  margin: 0 auto;

  @include respond(980) {
    padding: 10rem 4rem 0 4rem;
  }

  @include h3-with-line;

  &__newsletter {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    // background: red;
    padding-top: 5rem;

    @include newsletter;
  }

  &__blogBox {
    max-width: 27rem;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);

    @include respond(980) {
      display: flex;
      max-width: 120rem;
      width: 100%;
      margin-bottom: 7rem;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;

    @include respond(980) {
      width: 50%;
    }
  }

  &__content2 {
    @include respond(980) {
      display: flex;
      flex-direction: column;
      padding: 3rem 3rem;
    }
  }

  &__link {
    display: inline-block;
    padding: 1.5rem 0;
    text-align: center;
    transition: all 0.5s;

    @include respond(980) {
      padding: 2rem 0;
    }

    &:hover {
      color: $color-pink-dark;
    }
  }

  &__p {
    text-align: justify;
    padding: 0rem 1.5rem;
    padding-bottom: 2rem;

    @include respond(980) {
      padding: 0;
    }
  }

  &__line2 {
    width: 3rem;
    height: 4px;
    margin-left: 1rem;
    background: $color-pink-dark;

    @include respond(980) {
      margin-left: 0;
      align-self: flex-end;
      margin-top: 5rem;
    }
  }

  &__span {
    display: inline-block;
    padding: 1rem 1rem;

    @include respond(980) {
      padding: 1rem 0;
      align-self: flex-end;
    }
  }

  &__p2 {
    padding: 1rem 1rem;

    @include respond(980) {
      align-self: flex-end;
      padding: 1rem 0;
    }
  }
}
