.home {
  padding-top: 6rem;
  position: relative;

  @include respond(900) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 70rem;
  }

  &__h1,
  &__p {
    max-width: 100rem;
    width: 100%;
    z-index: 2;
    padding: 0 2rem 0 2rem;
    // outline: 1px solid red;
  }

  &__p {
    padding-top: 4rem;
  }

  &__boxes {
    display: flex;
    position: relative;
    justify-content: space-between;
    max-width: 120rem;
    width: 100%;
    // height: 30rem;
    margin: 0 auto;
    margin-top: -10rem;
    z-index: 3;
    padding: 0 2rem 0 2rem;
    flex-wrap: wrap;

    @include respond(900) {
      justify-content: center;
      margin-top: -12rem;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    @include respond(900) {
      max-width: 50rem;
      width: 100%;
    }

    &__p {
      text-align: center;
      padding: 1.3rem 0;
      width: 15rem;

      @include respond(900) {
        padding: 2rem 0;
        width: 100%;
      }
    }

    &__span {
      display: block;
      text-align: center;
      width: 19.6rem;

      @include respond(900) {
        width: 100%;
        padding: 0rem 2rem 6rem 2rem;
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17.6rem;
    height: 17.6rem;

    @include respond(1200) {
      width: 16rem;
      height: 16rem;
    }

    @include respond(900) {
      width: 20rem;
      height: 20rem;
    }

    &--box1 {
      @include gradient(#a23272, #b83983);
    }

    &--box2 {
      @include gradient(#fb385a, #fd4c45);
    }

    &--box3 {
      @include gradient(#ff8c2c, #ffb138);
    }

    &--box4 {
      @include gradient(#5db633, #56ab2f);
    }

    &--box5 {
      @include gradient(#0085da, #019cef);
    }
  }

  &__about {
    display: flex;
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 15rem;
    padding: 0 2rem 0 2rem;

    @include respond(900) {
      margin: 0;
    }

    &__text {
      width: 60%;
      padding-right: 2rem;

      @include respond(900) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 4rem;

        border-top: 1px solid #e9e9e9;
      }
    }

    &__h2 {
      padding-bottom: 3rem;
      text-align: left;

      @include respond(900) {
        text-align: center;
        padding-bottom: 3rem;
      }
    }

    &__p-3 {
      padding: 2rem 0;
    }

    &__link {
      bottom: 0;
      margin-top: 8rem;
      display: inline-block;
      padding: 1rem 2rem;
      background: $color-pink-dark;
      transition: all 1s;

      &:hover {
        background: darken($color-pink-dark, 20%);
      }

      @include respond(900) {
        display: flex;
        width: 20rem;
        padding: 1rem 0;
        justify-content: center;
      }
    }

    &__img {
      display: flex;

      @include respond(900) {
        display: none;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: auto;
      }
    }
  }

  &__certificate {
    display: flex;
    margin-top: 20rem;
    // @include gradient2(rgb(255, 140, 32) 0%, rgb(255, 168, 19) 100%);
    @include gradient2(#68bd40, #82e255);
    width: 100%;
    // height: 18rem;
    height: 10rem;

    &__list {
      display: flex;
      list-style-type: none;
      justify-content: space-between;
      align-items: center;
      max-width: 120rem;
      width: 100%;
      margin: 0 auto;
      padding: 0 2rem 0 2rem;
    }
  }

  &__course {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    // max-width: 110rem;
    width: 100%;
    margin-top: 10rem;
    padding: 0rem 2rem 2.5rem 2rem;
    // @include gradient2(rgb(255, 140, 32) 0%, rgb(255, 168, 19) 100%);

    -webkit-clip-path: polygon(
      35% 0,
      54% 0,
      100% 4%,
      100% 97%,
      72% 100%,
      48% 100%,
      0 97%,
      0 3%
    );
    clip-path: polygon(
      35% 0,
      54% 0,
      100% 4%,
      100% 97%,
      72% 100%,
      48% 100%,
      0 97%,
      0 3%
    );

    &__mask {
      position: absolute;
      background: rgba($color-dark, 0.8);
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    &__h3 {
      padding-bottom: 2rem;
      z-index: 1;
      padding-top: 7rem;
    }

    &__line {
      width: 20rem;
      height: 0.3rem;
      z-index: 1;
      margin-top: 2rem;

      // background: $color-pink-dark;
      background: #56ab2f;
      @include gradient2(rgb(255, 140, 32) 0%, rgb(255, 168, 19) 100%);
    }

    &__line2 {
      width: 7rem;
      height: 0.9rem;
      // background: $color-pink-dark;
      background: #56ab2f;
      z-index: 1;

      @include gradient2(rgb(255, 140, 32) 0%, rgb(255, 168, 19) 100%);
    }

    &__span {
      display: inline-block;
      max-width: 70rem;
      width: 100%;
      text-align: center;
      padding: 4rem 0;
      z-index: 1;
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 8rem;
      padding-bottom: 7rem;
    }

    &__circleBox {
      display: flex;
      justify-content: center;
      width: 33rem;

      &__top {
        position: relative;
      }

      &__border {
        position: absolute;
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
        // border: 0.8rem solid #56ab2f;
        border: 0.8rem solid $color-pink-dark;

        z-index: 2;
      }

      &__heading {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30rem;
        height: 30rem;
        border: 8rem solid rgba($color-dark, 0.8);
        border-radius: 50%;
      }

      &__bottom {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
        background: rgba($color-dark, 0.8);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
        margin-top: 22rem;
      }

      &__p {
        padding: 0 2rem;
        text-align: center;
      }

      &__link {
        position: absolute;
        display: block;
        top: 21rem;
        background: $color-pink-dark;
        padding: 1rem;
        transition: all 1s;
        border-radius: 1rem;

        &:hover {
          background: darken($color-pink-dark, 20%) !important;
        }
      }
    }

    &__link {
      display: block;
      z-index: 2;
      padding: 1rem;
      background: #a23272;
      transition: all 1s;

      &:hover {
        background: darken(#a23272, 20%);
      }
    }

    &__card {
      max-width: 35rem;
      width: 100%;
      height: 45rem;
      margin-top: 6rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);

      &__img {
        width: 100%;
      }

      &__teacher {
        display: flex;
        align-items: center;
        margin-top: -1rem;
        padding-left: 1rem;
        img {
          border-radius: 50%;
          border: 2px solid $color-pink-dark;
        }

        p {
          padding-left: 5px;
        }
      }

      &__text {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding: 0 1rem 0 1rem;
        text-align: justify;

        a {
          margin-top: 1.3rem;
          text-align: center;
          padding: 1rem;
          width: 10rem;
          background: $color-pink-dark;
          transition: all 1s;

          &:hover {
            background: darken($color-pink-dark, 20%);
          }
        }
      }

      &__h4 {
        // text-align: center;
        padding: 1rem 0;
      }
    }
  }

  &__exams {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 140rem;
    width: 100%;
    margin: 0 auto;
    outline: 1px solid #0085da;
    padding: 0rem 2rem 2.5rem 2rem;

    &__h3 {
      padding-top: 7rem;
    }

    &__line {
      width: 20rem;
      height: 0.3rem;
      z-index: 1;
      margin-top: 2rem;

      // background: $color-pink-dark;
      background: #56ab2f;
      // @include gradient2(rgb(255, 140, 32) 0%, rgb(255, 168, 19) 100%);
    }

    &__line2 {
      width: 7rem;
      height: 0.9rem;
      // background: $color-pink-dark;
      background: #56ab2f;
      z-index: 1;

      // @include gradient2(rgb(255, 140, 32) 0%, rgb(255, 168, 19) 100%);
    }

    &__span {
      display: inline-block;
      max-width: 70rem;
      width: 100%;
      text-align: center;
      padding: 3rem 0;
      z-index: 1;
    }
  }

  &__promotions {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    max-width: 100rem;
    width: 100%;
    height: 58rem;
    background: whitesmoke;
    z-index: 20;
    left: 0;
    right: 0;
    top: 15rem;
    margin: auto;
    box-shadow: 0 1px 1rem rgba($color-dark, 0.15);

    &--h1 {
      // background: $color-pink-dark;
      // @include gradient2(darken($color-pink-dark, 10%), $color-pink-dark);
      // @include gradient2(darken(#fce503, 4%), #fce503);
      // @include gradient2(#3458d3, lighten(#3458d3, 5%));
      @include gradient2(darken(#1cd3cf, 10%), #1cd3cf);

      max-width: 50rem;
      width: 100%;
      padding: 2rem;
      margin: 1rem;
    }

    &--h2 {
      // @include gradient2(darken($color-pink-dark, 10%), $color-pink-dark);
      // @include gradient2(darken(#fce503, 4%), #fce503);
      // @include gradient2(#3458d3, lighten(#3458d3, 5%));
      @include gradient2(darken(#1cd3cf, 10%), #1cd3cf);

      max-width: 80rem;
      width: 100%;
      padding: 2rem 0rem;
      margin: -2rem 1rem;
    }

    &--h4 {
      // @include gradient2(darken($color-pink-dark, 10%), $color-pink-dark);
      // @include gradient2(darken(#fce503, 4%), #fce503);
      // @include gradient2(#3458d3, lighten(#3458d3, 5%));
      @include gradient2(darken(#1cd3cf, 10%), #1cd3cf);

      max-width: 40rem;
      width: 100%;
      margin: -4rem 0 4rem 0;
    }

    &--list1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 4rem 1rem;
    }

    &--item {
      list-style-type: none;
      padding: 0.5rem;
      margin: 0.5rem 0;
      // @include gradient2(#5db633, #56ab2f);
      // @include gradient2(darken($color-pink-dark, 10%), $color-pink-dark);
      // @include gradient2(darken(#fce503, 4%), #fce503);
      // @include gradient2(#3458d3, lighten(#3458d3, 5%));
      @include gradient2(darken(#1cd3cf, 10%), #1cd3cf);
    }

    &--p {
      max-width: 70rem;
      width: 100%;
      margin: 0rem 1rem;
      padding: 1rem;

      // @include gradient2(darken($color-pink-dark, 10%), $color-pink-dark);
      // @include gradient2(darken(#fce503, 4%), #fce503);
      // @include gradient2(#3458d3, lighten(#3458d3, 5%));
      @include gradient2(darken(#1cd3cf, 10%), #1cd3cf);
    }

    &--close {
      padding: 1rem;
      cursor: pointer;
      align-self: flex-end;
      position: absolute;
      transition: all 0.5s;
    }
  }

  &__promotions2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    max-width: 100rem;
    width: 100%;
    height: 58rem;
    background: whitesmoke;
    z-index: 20;
    left: 0;
    right: 0;
    top: 15rem;
    margin: auto;
    box-shadow: 0 1px 1rem rgba($color-dark, 0.15);

    &--h1 {
      // background: $color-pink-dark;
      // @include gradient2(darken($color-pink-dark, 10%), $color-pink-dark);
      // @include gradient2(darken(#fce503, 4%), #fce503);
      @include gradient2(#3458d3, lighten(#3458d3, 5%));
      // @include gradient2(darken(#1cd3cf, 10%), #1cd3cf);

      max-width: 70rem;
      width: 100%;
      padding: 1rem;
      margin: 1rem 0 0 20rem;
      transform: rotate(-5deg);
    }

    &--h2 {
      // @include gradient2(darken($color-pink-dark, 10%), $color-pink-dark);
      // @include gradient2(darken(#fce503, 4%), #fce503);
      // @include gradient2(#3458d3, lighten(#3458d3, 5%));
      // @include gradient2(darken(#1cd3cf, 10%), #1cd3cf);
      @include gradient2(darken(#57af30, 10%), #57af30);

      max-width: 90rem;
      width: 100%;
      padding: 2rem 0rem;
      margin: 4rem 1rem;
      transform: rotate(2deg);
    }

    &--h4 {
      @include gradient2(darken(#f7b038, 2%), #fcb038);
      box-shadow: 2rem 1px 1rem rgba($color-dark, 0.15);
      max-width: 20rem;
      width: 100%;
      margin: -4rem 0 4rem 0;
      padding: 2rem 0 0 0;
      clip-path: polygon(2% 3%, 98% 0, 100% 100%, 0% 100%);
      border-radius: 2rem;
      transform: rotate(5deg);
    }

    &--cont {
      display: flex;
      justify-content: space-around;
      // background: red;
      width: 85%;
    }

    &--list1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      // margin: -6rem 10rem;
      // align-self: flex-start;
      transform: rotate(5deg);
    }

    &--item {
      list-style-type: none;
      padding: 1rem;
      // margin: -0.5rem 0;
      @include gradient2(darken(#f96c8d, 10%), #f96c8d);
      background: darken(#f96c8d, 10%);
    }

    &--p {
      // position: absolute;
      max-width: 40rem;
      width: 100%;
      padding: 1rem;
      transform: rotate(-2deg);

      @include gradient2(darken(#1cd3cf, 10%), #1cd3cf);
    }

    &--close {
      padding: 1rem;
      cursor: pointer;
      align-self: flex-end;
      position: absolute;
      transition: all 0.5s;
    }
  }
}
