.homeBlog {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 140rem;
  width: 100%;
  padding: 10rem 2rem 0 2rem;
  margin: 0 auto;
  //   outline: 1px solid red;

  &__line {
    margin-top: 3rem;
    width: 4rem;
    height: 5px;
    background: cornflowerblue;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid $color-grey-light;
    border-bottom: 1px solid $color-grey-light;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  &__blogBox {
    // outline: 1px solid red;
    max-width: 32rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    // border: 1px solid $color-grey-light;
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__link {
    display: inline-block;
    padding: 1.5rem 0;
    text-align: center;
    transition: all 0.5s;

    &:hover {
      color: cornflowerblue;
    }
  }

  &__p {
    text-align: justify;
    padding: 0rem 1.5rem;
    padding-bottom: 2rem;
  }

  &__line2 {
    width: 3rem;
    height: 4px;
    margin-left: 1rem;
    background: cornflowerblue;
  }

  &__span {
    display: inline-block;
    padding: 1rem 1rem;
  }

  &__p2 {
    padding: 1rem 1rem;
  }
}
