.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 120rem;
  width: 100%;
  padding: 0 2rem 0 2rem;
  margin: 0 auto;
  height: 100vh;

  &__h1 {
    width: 100%;
    padding-bottom: 10rem;
  }

  &__form {
    width: 100%;
  }

  &__inputHolder {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 3rem;
  }

  &__error {
    position: absolute;
    // background: #f8bfbf;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    bottom: -2.5rem;
  }

  &__label {
    padding-bottom: 2rem;
  }

  &__input {
    height: 3rem;
    border: none;
    border-bottom: 0.1rem solid $color-pink-dark;

    &:focus {
      outline: none;
      border-bottom: 0.2rem solid darken($color-pink-dark, 0%);
    }
  }

  &__btnHolder {
    display: flex;
    justify-content: space-between;
    padding-top: 10rem;
  }

  &__btn {
    padding: 1rem 2rem;
    background: $color-pink-dark;
    border: none;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      background: darken($color-pink-dark, 20%);
    }
  }

  &__link {
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid $color-pink-dark;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      background: $color-pink-dark;
      color: white;
    }
  }
}
