.blogPost {
  text-align: justify;
  &__h1,
  h1 {
    font-size: 3rem;
    font-weight: 600;
    font-family: $font-8;
    // color: $color-dark;
    text-transform: uppercase;

    @include respond(600) {
      font-size: 3.8rem;
    }
  }

  &__h2,
  &__h3,
  h2,
  h3 {
    font-size: 2.1rem;
    font-weight: 600;
    font-family: $font-1;

    @include respond(600) {
      font-size: 3rem;
    }
  }

  &__span,
  h4 {
    font-size: 2rem;
    font-weight: normal;
    font-family: $font-1;
    color: $color-grey;

    @include respond(600) {
      font-size: 2.7rem;
    }
  }

  &__date,
  span {
    color: $color-pink-dark;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: $font-8;

    @include respond(600) {
      font-size: 2rem;
    }
  }

  &__postedBy {
    color: $color-pink-dark;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: $font-8;

    &--span {
      color: $color-dark;
      font-weight: 500;
    }

    @include respond(600) {
      font-size: 2rem;
    }
  }

  &__content__p,
  p,
  li {
    font-size: 1.9rem;
    font-family: $font-1;
    color: darknen($color-grey-dark, 10%);
    line-height: 1.6;

    @include respond(600) {
      font-size: 2.8rem;
    }
  }

  li {
    color: lighten($color-grey-dark, 10%);
  }

  &__signature,
  h6 {
    color: $color-pink-dark;
    font-size: 2rem;
    font-weight: 600;
    font-family: $font-5;

    @include respond(600) {
      font-size: 2.8rem;
    }
  }
}
