.home__content {
  background-image: url("./sass/images/9.jpg");
}

.home__course {
  background-image: url("./sass/images/1.jpg");
}

.about__background {
  background-image: url("./sass/images/7.jpg");
}

.about__background__2 {
  background-image: url("./sass/images/3.jpg");
}

.course {
  background-image: url("./sass/images/5.jpg");
}
