.course {
  &__h4 {
    color: $color-purple-black;
    font-family: $font-1;
    font-size: 2.3rem;
    text-align: center;
  }

  &__p {
    color: $color-purple-black;
    font-family: $font-1;
    font-size: 1.7rem;
    text-align: center;
  }
}
