.landing {
  &__header {
  }

  &__logo {
    font-size: 3.5rem;
    font-family: $font-2;
    font-weight: 700;
    color: $color-purple-black;

    &--span {
      color: $color-red-dark;
    }
  }

  &__h1,
  &__p,
  &__span {
    text-align: center;
    color: white;
    font-size: 5rem;
    font-family: $font-1;
  }

  &__p {
    font-size: 2.5rem;
    font-weight: 500;
  }

  &__span {
    font-size: 2rem;
    font-weight: 500;
  }

  &__btn {
    color: white;
    font-size: 1.7rem;
    font-family: $font-1;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
  }

  &__icon-container {
    i {
      font-size: 7rem;
      color: white;
    }
  }

  &__h3 {
    font-size: 2rem;
    font-family: $font-1;
    font-weight: 800;
    text-transform: uppercase;
  }

  &__box-p {
    font-size: 1.4rem;
    font-family: $font-1;
    color: rgb(173, 173, 173);
  }
}
