.course {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  display: flex;
  padding-top: 6em;

  @include respond(1200) {
    background: white;
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
  }

  &__mask {
    position: absolute;
    background: rgba($color-dark, 0.6);
    width: 100%;
    height: 100%;

    @include respond(1200) {
      display: none;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    position: relative;
    align-self: flex-end;
    width: 55%;
    height: 100%;
    padding: 10rem 2rem 10rem 2rem;
    background: white;

    @include respond(1200) {
      width: 100%;
      padding-top: 5rem;
    }
  }

  &__h1 {
    position: absolute;
    left: -19rem;
    padding: 1.5rem 2.5rem;
    background: $color-pink-dark;
    -webkit-clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);
    clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);

    @include respond(1200) {
      top: 6rem;
      left: 2rem;
    }
  }

  &__content {
    // max-width: 45.3rem;
    max-width: 70rem;
    width: 100%;
    margin-left: 20rem;
    padding: 0 4rem;

    @include respond(1200) {
      padding-top: 15rem;
      margin-left: 0rem;
      padding-left: 0rem;
      padding-right: 0rem;
      max-width: 120rem;
      margin: 0 auto;
      width: 100%;
    }

    p,
    &__span {
      padding-bottom: 2rem;
    }

    &__span {
      display: inline-block;
    }
  }

  &__content2 {
    display: flex;
    position: relative;
    width: 100%;
    z-index: 2;

    @include respond(1200) {
      margin: 0 auto;
      max-width: 120rem;
      width: 100%;
      padding: 0 2rem;
      background-image: none;
    }
  }

  &__lvl {
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    // outline: 2px solid red;
    background: white;
    width: 45%;
    // height: 65.5rem;
    z-index: 2;

    @include respond(1200) {
      max-width: 120rem;
      width: 100%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
    padding: 10rem 2rem 10rem 2rem;

    @include respond(1200) {
      max-width: 120rem;
      width: 100%;
      padding: 0 4rem 10rem 0rem;
    }
  }

  &__diagram {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    background: $color-pink-dark;
    max-width: 19.1rem;
    width: 100%;
    z-index: 2;
    height: 15%;
    height: 100%;

    &__container {
      width: 19.1rem;
      background: white;
      z-index: 2;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 10rem 0 0 0;

    i {
      // background: $color-pink-dark;
      background: $color-pink-dark;
      padding: 1.2rem;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        background: darken($color-pink-dark, 20%);
      }
    }
  }
}
