.dashboard {
  &__list {
    color: white;
    font-family: $font-1;
    font-size: 1.8rem;

    i {
      font-size: 1.2rem;
    }
  }

  &__subitem {
    font-size: 1.6rem;
  }

  &__addBlog {
    &--btn {
      font-family: $font-1;
      font-size: 1.6rem;
      color: white;
    }

    &--img {
      &::-webkit-file-upload-button {
        font-family: $font-1;
        font-size: 1.6rem;
      }
    }
  }

  &__label {
    font-size: 1.9rem;
    font-family: $font-1;
    font-weight: 800;
  }

  &__input {
    font-size: 1.8rem;
    font-family: $font-1;
  }

  &__textarea {
    font-size: 1.8rem;
    font-family: $font-1;
  }
}
