.dashboard__editBlog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &--blog {
    max-width: 39rem;
    width: 100%;
  }

  &--imgholder {
    height: 28rem;
  }

  &--contentholder {
    height: 18rem;
  }

  &--img {
    max-width: 39rem;
    width: 100%;
    border: 0.5rem solid $color-pink-dark;
  }

  &--h1 {
    padding: 1rem 0;
  }

  &--btn {
    background: $color-pink-dark;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;

    &:last-child {
      margin-left: 1rem;
    }
  }
}
