.events {
  &__h3 {
    font-size: 3.4rem;
    font-family: $font-8;
    font-weight: 300;
    color: lighten($color-grey-dark, 20%);
  }

  &__label {
    font-size: 1.6rem;
    font-family: $font-1;
    font-weight: 300;
    color: lighten($color-grey-dark, 20%);
  }

  &__calendar {
    font-size: 1.5rem;
    font-family: $font-1;
    font-weight: 400;
    color: $color-grey-dark;
  }

  &__button {
    font-size: 1.6rem;
    font-family: $font-8;
    font-weight: 400;
    color: $color-pink-dark;
  }

  &__item {
    font-size: 1.5rem;
    font-family: $font-8;
    font-weight: 400;
    color: $color-grey-dark;
  }

  &__h2 {
    font-size: 2.2rem;
    font-family: $font-8;
    font-weight: 300;
    color: lighten($color-grey-dark, 20%);
  }
}
