.nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    justify-content: center;
    list-style-type: none;
    transition: all 0.5s;
    position: relative;
  }

  &__link {
    display: block;
    padding: 1.4rem;
    transition: all 0.1s;

    &:hover + .hover__line {
      // background: $color-red-dark;
      // color: lighten($color-purple-black, 90%);
      width: 90%;
    }
  }
}
