.homeEvent {
  &__h3 {
    font-family: $font-8;
    font-size: 2.6rem;
    color: $color-dark-3;
    font-weight: 400;

    @include respond(980) {
      font-size: 3.6rem;
    }

    @include respond(820) {
      font-size: 3.5rem;
    }

    @include respond(720) {
      font-size: 4rem;
    }
  }

  &__link,
  &__link-2 {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: $font-8;

    @include respond(820) {
      font-size: 1.8rem;
    }

    @include respond(720) {
      font-size: 2.2rem;
    }
  }

  &__upcoming {
    &__p {
      font-size: 1.7rem;
      font-family: $font-8;
      font-weight: 600;
      line-height: 1.2;
      color: $color-grey-dark;

      @include respond(980) {
        font-size: 2.2rem;
      }

      @include respond(820) {
        font-size: 2.3rem;
      }

      @include respond(720) {
        font-size: 2.8rem;
      }
    }

    &__span {
      font-size: 1.4rem;
      font-family: $font-1;
      font-weight: 500;
      line-height: 1.2;
      color: $color-grey-2;

      @include respond(980) {
        font-size: 1.8rem;
      }

      @include respond(820) {
        font-size: 1.8rem;
      }

      @include respond(720) {
        font-size: 2.6rem;
      }
    }
  }
}

.calendar {
  &__header {
    color: white;
    font-size: 1.6rem;
    font-family: $font-1;

    @include respond(820) {
      font-size: 2.5rem;
    }
  }

  &__item {
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: $font-8;
    font-weight: 600;

    @include respond(820) {
      font-size: 2.2rem;
    }
  }

  &__item-2 {
    font-size: 1.4rem;
    font-family: $font-8;
    font-weight: 600;
    color: darken($color-grey-light, 10%);

    @include respond(980) {
      font-size: 2rem;
    }

    @include respond(820) {
      font-size: 2.4rem;
    }
  }

  &__event {
    &__day {
      font-size: 2.5rem;
      font-family: $font-8;

      @include respond(980) {
        font-size: 3.3rem;
      }

      @include respond(820) {
        font-size: 4rem;
      }

      @include respond(720) {
        font-size: 4.5rem;
      }
    }

    &__month {
      text-transform: uppercase;
      font-family: $font-8;
      font-weight: 600;
      color: $color-grey-2;
      font-size: 1.2rem;

      @include respond(980) {
        font-size: 1.5rem;
      }

      @include respond(820) {
        font-size: 2rem;
      }

      @include respond(720) {
        font-size: 2.3rem;
      }
    }

    &__h5 {
      font-size: 1.6rem;
      font-family: $font-8;
      font-weight: 600;
      line-height: 1.2;
      color: $color-grey-dark;

      @include respond(980) {
        font-size: 1.7rem;
      }

      @include respond(920) {
        font-size: 2rem;
      }

      @include respond(820) {
        font-size: 2.3rem;
      }

      @include respond(720) {
        font-size: 2.8rem;
      }
    }

    &__p {
      font-size: 1.4rem;
      font-family: $font-1;
      font-weight: 500;
      line-height: 1.2;
      color: $color-grey-2;

      @include respond(980) {
        font-size: 1.8rem;
      }

      @include respond(820) {
        font-size: 1.9rem;
      }

      @include respond(720) {
        font-size: 2.5rem;
      }

      i {
        color: $color-pink-dark;
        font-size: 1.5rem;

        @include respond(820) {
          font-size: 1.9rem;
        }

        @include respond(720) {
          font-size: 2.3rem;
        }
      }
    }
  }
}
