.home {
  &__h1,
  &__p {
    text-align: center;
    color: white;
    font-size: 5rem;
    font-family: $font-1;
  }

  &__p {
    font-size: 2.5rem;
    font-weight: 500;
  }

  &__icon {
    font-size: 7rem;
    color: white;
  }

  &__box {
    &__p {
      font-size: 2rem;
      font-family: $font-1;
      font-weight: 800;
      text-transform: uppercase;
    }

    &__span {
      font-size: 1.4rem;
      font-family: $font-1;
      color: $color-grey;
    }
  }

  &__about {
    &__h2 {
      font-size: 4rem;
      font-family: $font-1;
      color: $color-dark;
    }

    &__p-2,
    &__p-3,
    &__p-4 {
      font-size: 1.9rem;
      font-family: $font-1;
      color: $color-grey;
      line-height: 1.4;
    }

    &__link {
      color: white;
      font-family: $font-1;
      text-decoration: none;
      font-size: 1.7rem;
    }
  }
}
