.homeBlog {
  &__h3 {
    font-size: 3.5rem;
    font-family: $font-1;
    font-weight: 800;

    @include respond(600) {
      font-size: 5.3rem;
    }
  }

  &__link {
    font-size: 1.9rem;
    font-family: $font-1;
    font-weight: 800;
    text-decoration: none;
    color: $color-dark-2;

    @include respond(600) {
      font-size: 4rem;
    }
  }

  &__p {
    font-size: 1.4rem;
    font-family: $font-8;
    color: $color-grey-dark;

    @include respond(600) {
      font-size: 3rem;
    }
  }

  &__span {
    font-size: 1.1rem;
    font-family: $font-1;
    font-weight: 700;
    color: $color-grey;

    @include respond(600) {
      font-size: 2rem;
    }
  }

  &__p2 {
    font-size: 1.2rem;
    font-family: $font-8;
    font-weight: 700;
    color: $color-grey;

    @include respond(600) {
      font-size: 2rem;
    }

    span {
      display: inline-block;
      padding-left: 3px;
      color: $color-pink-dark;
    }
  }
}
