.home {
  &__h1,
  &__p {
    text-align: center;
    color: white;
    font-size: 5rem;
    font-family: $font-1;
  }

  &__p {
    font-size: 2.5rem;
    font-weight: 500;
  }

  &__icon {
    font-size: 7rem;
    color: white;
  }

  &__box {
    &__p {
      font-size: 2rem;
      font-family: $font-1;
      font-weight: 800;
      text-transform: uppercase;
    }

    &__span {
      font-size: 1.4rem;
      font-family: $font-1;
      color: $color-grey;
    }
  }

  &__about {
    &__h2 {
      font-size: 4rem;
      font-family: $font-1;
      color: $color-dark;
    }

    &__p-2,
    &__p-3 {
      font-size: 1.7rem;
      font-family: $font-8;
      color: $color-grey-dark;
      line-height: 1.4;
    }

    &__link {
      color: white;
      font-family: $font-1;
      text-decoration: none;
      font-size: 1.7rem;
    }
  }

  &__course {
    &__h3 {
      font-size: 4rem;
      font-family: $font-1;
      font-weight: 600;
      color: $color-dark;
      color: white;
    }

    &__span {
      font-size: 1.7rem;
      color: $color-grey;
      font-family: $font-1;
      color: white;
    }

    &__circleBox {
      &__heading {
        font-size: 5.7rem;
        font-family: $font-1;
        font-weight: 900;
        text-transform: uppercase;
        color: white;
      }

      &__p {
        color: white;
        font-size: 1.6rem;
        font-family: $font-1;
      }

      &__link {
        text-decoration: none;
        font-size: 1.3rem;
        font-family: $font-1;
        text-transform: uppercase;
        color: white;
      }
    }

    &__card {
      &__teacher {
        p {
          font-family: $font-1;
          font-size: 1.5rem;
          color: $color-grey;
        }
      }

      &__h4 {
        font-size: 2.6rem;
        font-family: $font-1;
      }

      &__text {
        p {
          font-size: 1.5rem;
          font-family: $font-1;
          color: $color-grey-dark;
        }

        a {
          font-size: 1.5rem;
          font-family: $font-1;
          color: $color-grey-dark;
          text-decoration: none;
          color: white;
        }
      }
    }

    &__link {
      color: white;
      font-size: 1.6rem;
      text-decoration: none;
      text-transform: uppercase;
      font-family: $font-1;
    }
  }

  &__certificate {
    &__link {
      color: white;
      font-size: 4.5rem;
      text-transform: uppercase;
      font-family: $font-7;
      // font-weight: 600;
      text-decoration: none;
      transition: all 1s;

      &:hover {
        color: darken(white, 90%);
      }
    }
  }

  &__exams {
    &__h3 {
      font-size: 4rem;
      font-family: $font-1;
      font-weight: 600;
      color: $color-dark;
    }

    &__span {
      font-size: 1.6rem;
      color: $color-grey;
      font-family: $font-1;
      color: $color-dark;
    }
  }
}
