.exams {
  &__h1 {
    font-family: $font-1;
    // color: white;
    color: darken($color-grey-dark, 10%);

    font-size: 2.7rem;
  }

  &__h2 {
    font-family: $font-1;
    // color: white;
    font-size: 2.3rem;
  }

  &__h3 {
    font-family: $font-1;
    // color: white;
    font-size: 2rem;
  }

  &__p {
    font-family: $font-1;
    // color: white;
    color: $color-grey;
    font-size: 2rem;
  }

  &__item {
    font-family: $font-1;
    // color: white;
    font-size: 2rem;
  }
}
