$font-1: "Lato", sans-serif;
$font-2: "Reenie Beanie", cursive;
$font-3: "Fascinate", cursive;
$font-4: "Dokdo", cursive;
$font-5: "Molle", cursive;
$font-6: "Leckerli One", cursive;
$font-7: "Monoton", cursive;
$font-8: "Poppins", sans-serif;
$font-9: "Nosifer", cursive;
$font-10: "Frijole", cursive;
$font-11: "Knewave", cursive;
