.exams {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  padding: 0rem 2rem 0rem 2rem;
  // height: 450rem;
  height: 100vh;

  &__content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
    width: 100%;
    // background: #9475cd;
  }

  &__list1 {
    --width: 82%;

    @include tab($color-pink-dark, 0rem, 10, 10rem, var(--width));

    @include respond(600) {
      @include tab($color-pink-dark, 0rem, 10, 15rem, var(--width));
    }
  }

  &__list2 {
    --width: 87%;

    @include tab(#5cb432, 17rem, 9, 19.2rem, var(--width));

    @include respond(600) {
      @include tab(#5cb432, 17rem, 9, 23rem, var(--width));
    }
  }

  &__list3 {
    --width: 92%;

    @include tab(#63b5f6, 34rem, 8, 33rem, var(--width));
  }

  &__list4 {
    --width: 97%;

    @include tab(#9475cd, 51rem, 7, 41.8rem, var(--width));

    @include respond(600) {
      @include tab(#9475cd, 51rem, 7, 41rem, var(--width));
    }
  }

  &__body {
    padding: 10rem 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }

  &__h1,
  &__h2,
  &__h3 {
    padding: 4rem 8rem 1.5rem;
  }

  &__p {
    padding: 1.5rem 8rem 0;
  }

  &__list {
    padding: 0rem 10rem;
  }

  &__item {
    padding: 0.7rem;
  }
}
