.exams {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  padding: 10rem 2rem 10rem 2rem;
  height: 200rem;

  @include h3-with-line;

  &__content {
    position: relative;
    justify-content: flex-start;
    height: 100%;
    border: none;
  }

  &__list1 {
    @include tab($color-pink-dark, 0rem, 10, 20rem);
  }

  &__list2 {
    @include tab(#5cb432, 17rem, 9, 15rem);
  }

  &__list3 {
    @include tab(#63b5f6, 34rem, 8, 10rem);
  }

  &__list4 {
    @include tab(#9475cd, 51rem, 7, 14);
  }

  &__list5 {
    @include tab(#f8ac30, 68rem, 6, 0rem);
  }
}
