.hover__line {
  position: absolute;
  transition: all 0.5s;
  background: red;
  height: 3px;
  width: 0;
  align-self: flex-end;
}

.active {
  background: $color-pink-dark !important;
  color: lighten($color-dark, 90%) !important;
}

.facebook {
  // color: #4267b2 !important;
  color: white !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.twitter {
  color: #19b2e8 !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.instagram {
  // color: #e02b71 !important;
  color: white !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.linkedin {
  // color: #0077b5 !important;
  color: white !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.phone {
  color: #56ad30 !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.viber {
  // color: #6e50d2 !important;
  color: white !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.gmail {
  // color: #d54b3d !important;
  color: white !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.flex__class {
  display: flex;
  flex-direction: column;
  position: relative;
}

.toggle {
  height: 27rem !important;
}
