.hover__line {
  position: absolute;
  transition: all 0.5s;
  background: red;
  height: 3px;
  width: 0;
  align-self: flex-end;
}

.active {
  background: $color-pink-dark !important;
  color: lighten($color-dark, 90%) !important;
}
