.hover__line {
  position: absolute;
  transition: all 0.5s;
  background: red;
  height: 3px;
  width: 0;
  align-self: flex-end;
}

.active {
  background: $color-pink-dark !important;
  color: lighten($color-dark, 90%) !important;
}

.facebook {
  // color: #4267b2 !important;
  color: white !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.twitter {
  color: #19b2e8 !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.instagram {
  // color: #e02b71 !important;
  color: white !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.linkedin {
  // color: #0077b5 !important;
  color: white !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.phone {
  color: #56ad30 !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.viber {
  // color: #6e50d2 !important;
  color: white !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.gmail {
  // color: #d54b3d !important;
  color: white !important;
  font-size: 2rem;
  padding-right: 0.7rem;
}

.flex__class {
  display: flex;
  flex-direction: column;
  position: relative;
}

.toggle {
  height: 15rem !important;
}

.scroll__indicator {
  position: fixed;
  top: 6rem;
  left: 0;
  height: 0.5rem;
  background: $color-pink-dark;

  @include respond(900) {
    top: 7rem;
  }

  @include respond(600) {
    top: 10rem;
  }
}

.loading {
  position: absolute;
  // left: 50%;
  // top: 50%;
  // transform: translateX(-50%);
  // transform: translateY(-50%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.currentDay {
  background: lighten($color-pink-dark, 5%);
  color: white !important;
}

.markerForDay {
  position: absolute;
  background: $color-pink-dark;
  width: 90%;
  height: 0.5rem;
  top: 0.5rem;
  pointer-events: none;
}

.confirmBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60rem;
  height: 20rem;
  background: white;
  box-shadow: 0 1px 1rem rgba($color-dark, 0.15);

  &__p {
    font-size: 3rem;
    font-family: $font-1;
  }

  &__icon {
    display: flex;
    justify-content: space-between;
    width: 10rem;
    display: flex;
    font-size: 3.5rem;
    padding: 2rem 0 0 0;
    cursor: pointer;
  }
}

.underconstructor {
  color: $color-pink-dark;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-weight: 700;
  font-family: $font-1;

  p {
    padding: 0 2rem;
    text-align: center;
    line-height: 6rem;
  }
}
