.header {
  &__link {
    font-size: 1.6rem;
    // text-transform: uppercase;
    text-decoration: none;
    color: $color-dark;
    font-family: $font-1;
    font-weight: 700;

    @include respond(1440) {
      font-size: 1.5rem;
    }
  }
}

.dropMenu {
  &__list {
  }

  &__item {
  }

  &__link {
    color: lighten($color-dark, 40%);
    text-decoration: none;
    font-size: 1.6rem;
    font-family: $font-1;
    font-weight: 400;
    text-transform: capitalize;

    @include respond(1440) {
      font-size: 1.4rem;
    }

    &:hover {
      color: $color-pink-dark;
      font-weight: 600;
    }
  }
}
