.event {
  display: flex;
  width: 100%;
  // height: 29rem;
  padding: 5rem 0;
  // margin: 5rem 0;
  // outline: 1px solid red;

  &:not(:last-child) {
    border-bottom: 1px solid $color-grey-light;
  }

  &__date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
    height: 11rem;
    border-top: 3px solid $color-pink-dark;

    &--num {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 5;
      border: 1px solid $color-grey-light;
      // background: orange;
    }
    &--mounth {
      // background: orangered;
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $color-grey-light;
    }
  }

  &__content {
    position: relative;
    display: flex;
    // flex-direction: column;
    max-width: 150rem;
    width: 100%;
    // padding-left: 4rem;
    // outline: 1px solid red;
    flex-wrap: wrap;
  }

  &__h2 {
    // outline: 1px solid red;
    padding-left: 1rem;
  }

  &__span {
    display: block;
    padding: 1.5rem 0 2rem 0;

    i {
      padding-right: 1rem;
      color: $color-pink-dark;
    }
  }

  &__p {
    padding: 2rem 0 3rem;
  }

  &__link {
    display: block;
    padding: 0.7rem;
    border: 1px solid $color-pink-dark;
    transition: all 0.5s;

    &:hover {
      background: $color-pink-dark;
      color: white;
    }
  }
}
