.events {
  max-width: 120rem;
  width: 100%;
  min-height: 130vh;
  height: 100%;
  margin: 0 auto;
  padding: 6rem 2rem 6rem 2rem;

  &__h3 {
    text-align: center;
    padding: 10rem 0 5rem 0;
  }

  &__search {
    padding: 5rem 0 5rem 0;
    display: flex;
    // outline: 1px solid red;
    flex-wrap: wrap;
    // justify-content: space-between;
    // border-top: 1px solid darken($color-grey-light, 10%);
  }

  &__popupCalendar {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: white;
    margin-top: 30rem;

    .calendar {
      margin-top: 0;

      &__header {
        height: 3rem;
      }

      &__icon {
        padding: 0 1rem;

        &:hover {
          background: $color-pink-dark;
        }
      }

      &__item {
        padding: 0.1rem 0;
      }

      &__item-2 {
        flex: 1 1 14.28%;
        padding: 2% 0;
      }
    }
  }

  &__calendar {
    width: 20rem;
    border: 1px solid darken($color-grey-light, 10%);
    border-radius: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    cursor: pointer;
  }

  &__label {
    width: 100%;
    padding: 0rem 0rem 2rem;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-pink-dark;
    border-radius: 20rem;
    background: none;
    padding: 0 2rem;
    cursor: pointer;
    margin-left: 2rem;
  }

  &__list {
    display: flex;
  }

  &__item {
    list-style-type: none;
    padding: 1rem 2rem;
    border: 1px solid darken($color-grey-light, 10%);
    // border: 1px solid $color-pink-dark;
    border-radius: 20rem;
    cursor: pointer;
    user-select: none;
    transition: all 0.5s;

    &:not(:first-child) {
      margin-left: 2rem;
    }

    &:hover {
      border: 1px solid $color-pink-dark;
    }

    &__active2 {
      border: 1px solid $color-pink-dark;
      color: $color-pink-dark !important;
    }
  }

  &__heading {
    padding: 5rem 0;
  }

  &__h2 {
    border: 1px solid darken($color-grey-light, 10%);
    border-left: 1.5px solid $color-pink-dark;
    padding: 0.8rem;
  }

  &__weekly {
    &--day {
    }

    &--list {
      display: flex;
      background: $color-green-blue;
    }

    &--list2 {
      display: flex;
    }

    &--item {
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding: 1.6rem 0;
      flex: 1;
      border-left: 0.1px solid lighten($color-green-blue, 2%);
    }

    &--item2 {
      display: flex;
      flex-direction: column;
      padding: 1.6rem 0;
      flex: 1;
      border: 0.1px solid lighten($color-grey-light, 2%);
      min-height: 50rem;
      height: 100%;
    }

    &__item {
      text-align: center;
      // background: $color-pink-dark;
      margin: 0.5rem;
    }
  }

  &__mounthly {
    &--day {
    }

    &--list {
      display: flex;
      background: $color-green-blue;
    }

    &--list2 {
      display: flex;
      flex-wrap: wrap;
    }

    &--item {
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding: 1.6rem 0;
      flex: 1;
      border-left: 0.1px solid lighten($color-green-blue, 2%);
    }

    &--item2 {
      display: flex;
      flex-direction: column;
      padding: 1.6rem 0;
      // max-width: 14.28%;
      flex: 1 0 14.28%;
      width: 100%;
      border: 0.1px solid lighten($color-grey-light, 2%);
      min-height: 30rem;
      height: 100%;
    }

    &--h6 {
      padding-left: 2rem;
    }

    &__item {
      text-align: center;
      // background: $color-pink-dark;
      margin: 0.5rem;
    }
  }
}
