.contact {
  &__h1 {
    font-size: 4rem;
    font-family: $font-8;
  }

  &__span {
    font-family: $font-1;
    font-size: 1.8rem;
    color: $color-grey-dark;
    font-weight: 500;
  }

  &__input {
    font-family: $font-1;
    color: $color-grey-dark;

    label {
      font-size: 1.8rem;
    }

    input {
      font-family: $font-1;
      font-size: 1.4rem;
    }

    textarea {
      font-family: $font-1;
      font-size: 1.6rem;
      color: $color-grey-dark;
    }

    button {
      color: white;
      font-size: 1.8rem;
    }
  }
}
