.contact {
  &__h1 {
    font-size: 4rem;
    font-family: $font-8;

    @include respond(600) {
      font-size: 6rem;
    }
  }

  &__span {
    font-family: $font-1;
    font-size: 1.8rem;
    color: $color-grey-dark;
    font-weight: 500;

    @include respond(600) {
      font-size: 3.5rem;
    }
  }

  &__input {
    font-family: $font-1;
    color: $color-grey-dark;

    label {
      font-size: 1.8rem;

      @include respond(600) {
        font-size: 3rem;
      }
    }

    input {
      font-family: $font-1;
      font-size: 1.4rem;

      @include respond(600) {
        font-size: 3rem;
      }
    }

    textarea {
      font-family: $font-1;
      font-size: 1.6rem;
      color: $color-grey-dark;

      @include respond(600) {
        font-size: 3rem;
      }
    }

    button {
      color: white;
      font-size: 1.8rem;

      @include respond(600) {
        font-size: 3.5rem;
      }
    }
  }
}
