@mixin h3-with-line {
  &__line {
    margin-top: 3rem;
    width: 4rem;
    height: 5px;
    background: $color-pink-dark;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid $color-grey-light;
    border-bottom: 1px solid $color-grey-light;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &__h3 {
    font-size: 3.5rem;
    font-family: $font-1;
    font-weight: 800;

    @include respond(600) {
      padding-top: 5rem;
      font-size: 4.5rem;
    }
  }
}
