@mixin newsletter {
  .newsLetter {
    &__form {
      display: flex;
    }
    &__input {
      padding: 0.7rem;
      width: 40rem;
      font-family: $font-8;
      font-size: 1.7rem;

      &::-webkit-input-placeholder {
        font-family: $font-8;
        font-size: 1.7rem;
        text-align: center;
      }

      &:-ms-input-placeholder {
        font-family: $font-8;
        font-size: 1.7rem;
        text-align: center;
      }

      &:-moz-placeholder {
        font-family: $font-8;
        font-size: 1.7rem;
        text-align: center;
      }

      &::-moz-placeholder {
        font-family: $font-8;
        font-size: 1.7rem;
        text-align: center;
      }
    }

    &__btn {
      padding: 1.3rem;
      background: $color-pink-dark;
      border: none;
      color: white;
      font-size: 1.3rem;
      font-weight: 600;
      font-family: $font-8;
      margin-left: 2rem;
      cursor: pointer;
      transition: all 1s;

      &:hover {
        background: darken($color-pink-dark, 20%);
      }
    }
  }
}
